body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #4E2318;
  height: 100%;
  margin: 0;
  color: #fff;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.125em;
  line-height: 1.1;
  color: #EFC481;
  text-align: center;
}

p {
  line-height: 1.5;
}

a {
  color: #fff;
}

.center {
  text-align: center;
}

.pumpkins {
  background-image: url("img/mini_pumpkins.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pumpkins-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
}

#pumpkin-background {
  background-color: #EFC481;
  border-radius: 10px;
  padding: 0 20px;
  color: #000;
  opacity: 0.8;
}

.main {
  padding: 0 50px;
}

/* navbar */

.navcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
	background-color: #575638;
  width: 100%;
}

.navcontainer ul  {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navcontainer li {
  float: left;
}

li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
}

.navcontainer li:hover {
  background: #45442d;
  font-weight: bold;
  transition-duration: 0.3s;
}

.navcontainer a:hover {
  color: #EFC481;
  transition-duration: 0.3s;
}

.active {
  font-weight: bold;
  color: #EFC481;
}

footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

/* photo gallery */

.body {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.imageGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.caption {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100%;
  max-width: 500px;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.hideThisDiv {
  display: none;
}

#stepper {
  line-height: 0;
}

.credit {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

button {
  background-color: #EFC481;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
  width: 100px;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}

.button_holder2 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
}

/* graph */

.row {
	margin-bottom: 0.2em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #bbb;
	width: 100%;
	float: left;
}

.Year {
  margin: 0 1em 0.2em 0;
	float: left;
	font-size: 0.9em;
}

.Value {
	float: left;
	display: inline;
	margin-right: 1.5%;
  background: #EFC481;
  height: 20px;
}

.ValueNumber {
	margin-bottom: 0.2em;
	float: left;
	font-size: 0.9em;
	display: inline;
}

/* quiz */

#quiz {
  margin: 0 100px;
  text-align: center;
}

fieldset {
    padding: 15px;
    margin: 20px;
    border: 2px solid #EFC481;
    border-radius: 5px;
}

fieldset legend {
  padding: 0 15px;
}

#message {
  text-align: center;
}

#submit {
  margin: 2rem auto;
}

@media only screen and (max-width: 600px) {
  .navcontainer ul {
    flex-direction: column;
		justify-content: center;
  }

  #pumpkins-main h1 {
    text-align: left;
  }
}

iframe {
  border: none;
}
