body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #4E2318;
  height: 100%;
  margin: 0;
  color: #fff;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.125em;
  line-height: 1.1;
  color: #e2961d;
  text-align: center;
}

p {
  line-height: 1.5;
}

#center {
  text-align: center;
}

a {
  color: #fff;
}

.pumpkins {
  background-image: url("img/mini_pumpkins2.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

#pumpkins-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  /* text-align: center; */
  /* position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%;
  height: 50%;
  float: left; */
}

@media (max-width: 600px) {
	#pumpkins-main h1 {
		text-align: left;
	}
}

.main {
  padding: 0 50px;
}

/* navbar code */

.navcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
	background: #575638;
}

.navcontainer a {
  text-decoration: none;
}

.navcontainer div:hover {
  background: #45442d;
  font-weight: bold;
  transition-duration: 0.3s;
}

.navcontainer a:hover {
  color: #EFC481;
}

.active {
  font-weight: bold;
}

.active a {
    color: #EFC481;
}

.item {
	padding: 20px;
}

@media (min-width: 600px) {
	.navcontainer {
		flex-direction: row;
		justify-content: center;
	}
}

footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline;
}

/* styling for photo gallery */

#body {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.imageGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.imageHolder {
  /* margin: 20px 0; */
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

.imageHolder caption {
  margin: 10px 0;
}

img {
  width: 100%;
  max-width: 500px;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.button_holder2 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
}

.hideThisDiv {
  display: none;
}

#stepper {
  line-height: 0;
}

#credit {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
}

button {
  background-color: #e2961d;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
  width: 100px;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}

/* graph */

/* #chart_container {
  margin: 50px;
} */

.row {
	margin-bottom: 0.2em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #bbb;
	width: 100%;
	float: left;
}

.Year {
  margin: 0 1em 0.2em 0;
	float: left;
	font-size: 0.9em;
}

.Value {
	float: left;
	display: inline;
	margin-right: 1.5%;
  background: #e2961d;
  height: 20px;
}

.ValueNumber {
	margin-bottom: 0.2em;
	float: left;
	font-size: 0.9em;
	display: inline;
}

@media only screen and (min-width: 600px) {
  .Name {
    width: 140px;
  }
}

/* quiz formatting */

/* .question {
  margin: 0 2rem 2rem;
  box-sizing: border-box;
  border: 2px solid #E2961D;
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;
} */

#quiz {
  margin: 0 100px;
  text-align: center;
}

fieldset {
    padding: 15px;
    margin: 20px;
    border: 2px solid #e2961d;
    border-radius: 5px;
}

fieldset legend {
  padding: 0 15px;
}

/* form {
  margin: 0 2rem 2rem;
  box-sizing: border-box;
  border: 2px solid #E2961D;
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;
} */

.answers {
  text-align: center;
  font-size: 1.6rem;
}

.answers span {
  font-weight: bold;
  text-decoration: underline;
}

#submit {
  margin: 2rem auto;
}

#message {
  text-align: center;
}

#text {
  text-align: center;
}
