body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #4E2318;
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 3.125em;
  line-height: 1.1;
  color: white;
}

a:link {
  color: white;
}

.pumpkins {
  background-image: url("mini_pumpkins.jpg");
  opacity: 0.25;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #575638;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.footer {
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}
